<ion-view view-title="Shopping Cart">
    <ion-content>
      <div>
        <div class="card" ng-repeat="item in cart">
          <div class="item item-text-wrap item-icon-right">
            <a class="button button-icon icon ion-trash-a" ng-click="deleteCartItem(item.menu)"></a>
            <h2>
              {{ restaurants[item.id -1].menu[item.menu -1].name }}
              <!--<span style="font-size:75%" class="badge badge-assertive">$9.99</span>-->
            </h2>
            <div class="type">
              {{ restaurants[item.id -1].menu[item.menu -1].description }}
            </div>
          </div>
          <div class="item item-divider">
            Price
            <span class="item-note dark">{{ restaurants[item.id -1].menu[item.menu -1].price | currency }}</span>
          </div>
          <div class="item item-text-wrap item-icon-left item-icon-right">
            <a class="button button-icon icon ion-plus-circled" ng-click="quantityPlus(item.id, item.menu, item.quantity)"></a>
            <a class="button button-icon icon ion-minus-circled" ng-click="quantityMinus(item.id, item.menu, item.quantity)"></a>
            Quantity {{ item.quantity }}
          </div>
          <div class="item item-divider">
            Total
            <span class="item-note dark">{{ restaurants[item.id -1].menu[item.menu -1].price * item.quantity | currency }}</span>
          </div>
        </div>

        <div class="card">
          <div class="item item-text-wrap assertive">
            <button class="button button-assertive" type="button" ng-click="grandtotal()">GRAND TOTAL</button>
            <span class="item-note assertive">{{ total | currency }}</span>
          </div>
        </div>

        <label class="item">
          <button class="button button-block button-assertive" type="submit">Proceed to Checkout</button>
        </label>
      </div>
    </ion-content>
</ion-view>

