<ion-view view-title="Category">
  <ion-nav-buttons side="secondary">
    <div class="buttons">
      <a class="button button-icon icon ion-android-cart" href="#/app/cart"></a>
    </div>
  </ion-nav-buttons>
    <ion-content>
      <div class="row" ng-repeat="item in restaurant.menu | categoryFilter:cat">
        
          <!--

        <div class="row">  
          <div class="col-50" ng-repeat="item in items">
            <div class="list card">
              <a href="#/app/product/{{restaurant.id}}/{{item.id}}" class="item item-image">
                <img src="img/thumb_restaurant.jpg">
              </a>
              <a href="#/app/product/{{restaurant.id}}/{{item.id}}" class="item">
                <h3>{{ item.name }}</h3>
                <p>{{ item.price | currency }}</p>
              </a>
            </div>
          </div>
        </div>
      -->

      <div class="col-50">
            <div class="list card">
              <a href="#/app/product/{{restaurant.id}}/{{item.id}}" class="item item-image">
                <img src="img/thumb_restaurant.jpg">
              </a>
              <a href="#/app/product/{{restaurant.id}}/{{item.id}}" class="item">
                <h3>{{ item.name }}</h3>
                <p>{{ item.price | currency }}</p>
              </a>
            </div>
          </div>
      </div>
    </ion-content>
</ion-view>

