<ion-view view-title="FAQ">
	<div class="tabs-striped tabs-top tabs-background-assertive tabs-color-light">
	  	<ul class="tabs">
	  		<li ng-class="{active:isSelected(0)}" class="tab-item">
	  			<a ng-click="select(0)" class="light">All</a>
	  		</li>
	  		<li ng-class="{active:isSelected(1)}" class="tab-item">
	  			<a ng-click="select(1)" class="light">Payments</a>
	  		</li>
	  		<li ng-class="{active:isSelected(2)}" class="tab-item">
	  			<a ng-click="select(2)" class="light">Pricing</a>
	  		</li>
	  		<li ng-class="{active:isSelected(3)}" class="tab-item">
	  			<a ng-click="select(3)" class="light">Privacy</a>
	  		</li>
	  	</ul>
  	</div>
  	<ion-content class="has_tabs">
	    <ion-list>
	        <div ng-repeat="question in questions | filter: { category: filtText }" class="list list-inset">
	          	<ion-item class="item-stable" ng-click="toggleQuestion(question)" ng-class="{active: isQuestionShown(question)}">
	              	<i class="icon assertive" ng-class="isQuestionShown(question) ? 'ion-minus' : 'ion-plus'"></i>
	            	&nbsp;
	            	{{question.question}}
	          	</ion-item>
	          	<ion-item class="item-accordion item-text-wrap" ng-show="isQuestionShown(question)">
	            	<p>{{question.answer}}</p>
	          	</ion-item>
	        </div>
	    </ion-list>
  	</ion-content>
</ion-view>
