<ion-view view-title="Featured Restaurants">
  <ion-content>
  	<ion-list>
      	<ion-item href="#/app/restaurants/{{restaurant.id}}" ng-repeat="restaurant in restaurants | filter: {featured: true}" class="item-thumbnail-left item-text-wrap desc">
	        <img src="{{ restaurant.photo }}" alt="Restaurant IMG">
	        <div class="ribbon_1" ng-show="restaurant.featured">featured</div>
	        <div class="rating">
	            <i class="icon ion-star" ng-class="{{ restaurant.rating }} >= 1 ? 'voted' : ''"></i>
	            <i class="icon ion-star" ng-class="{{ restaurant.rating }} >= 2 ? 'voted' : ''"></i>
	            <i class="icon ion-star" ng-class="{{ restaurant.rating }} >= 3 ? 'voted' : ''"></i>
	            <i class="icon ion-star" ng-class="{{ restaurant.rating }} >= 4 ? 'voted' : ''"></i>
	            <i class="icon ion-star" ng-class="{{ restaurant.rating }} >= 5 ? 'voted' : ''"></i>
	        </div>
	    	<h2>{{ restaurant.name }}</h2>
	        <div class="type">
	            {{ restaurant.category }}
	        </div>
	        <div class="location">
	            <h3>{{ restaurant.address }} <span class="opening">Opens at {{ restaurant.opens_at }}</span></h3>
	        </div>
	        <ul>
	            <li>Take away<i class="icon" ng-class="{{ restaurant.take_away }} ? 'ion-checkmark-circled ok' : 'ion-close-circled no'"></i></li>
	            <li>Delivery<i class="icon" ng-class="{{ restaurant.delivery }} ? 'ion-checkmark-circled ok' : 'ion-close-circled no'"></i></li>
	        </ul>
	      	<ion-option-button class="button-assertive icon ion-plus-circled" ng-click="addFavorite({{restaurant.id}})">
	      	</ion-option-button>
      	</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
