<ion-view view-title="Home">
	<div class="bar bar-subheader bar-assertive">
	  <h2 class="title">Want to know the way it works?</h2>
	</div>
	<ion-content class="has_tabs">
		<!--
			<ks-swiper-container initial-slide="3" speed="2000" loop="true" autoplay="4000" autoplayDisableOnInteraction="true" show-nav-buttons="true" slides-per-view="3" space-between="5" pagination-clickable="false" override-parameters="{effect: 'fade',fade: {crossFade : true}}">
			    <ks-swiper-slide class="swiper-slide" ng-repeat="s in [1,2,3,4,5,6]">
			        <img ng-src="img/featured-{{s}}.jpg" width="100%">
			    </ks-swiper-slide>            
			</ks-swiper-container>
		-->
		
	    <div class="card">
	    	<div class="item item-divider">
	    		Choose a restaurant
	    	</div>
	    	<div class="item item-thumbnail-left item-text-wrap">
	    		<img ng-src="img/icons/icon_home_2.svg" alt="Uthapizza">
	    		<p>We have more than 1000s of menus online</p>
	    	</div>
	    	<div class="item item-divider">
	    		Delivery or takeaway
	    	</div>
	    	<div class="item item-thumbnail-left item-text-wrap">
	    		<img ng-src="img/icons/icon_home_4.svg" alt="Uthapizza">
	    		<p>You are lazy? Are you backing home?</p>
	    	</div>
	    	<div class="item item-divider">
	    		Pay by card or cash
	    	</div>
	    	<div class="item item-thumbnail-left item-text-wrap">
	    		<img ng-src="img/icons/icon_home_3.svg" alt="Uthapizza">
	    		<p>It's quick, easy and totally secure.</p>
	    	</div>
	    </div>

	    <div class="list card">
	    	<a href="#/app/faq" class="item item-icon-left">
				<i class="icon ion-clipboard"></i>
			    FAQ
			</a>
			<a href="#" class="item item-icon-left">
				<i class="icon ion-information-circled"></i>
			    Contact us
			</a>
	    </div>

	    <!--
	    <div class="row responsive-md">
            <div class="col">
                <div class="box_home" id="two">
                    <span>1</span>
                    <h3>Choose a restaurant</h3>
                    <p>
                        We have more than 1000s of menus online.
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="box_home" id="four">
                    <span>2</span>
                    <h3>Delivery or takeaway</h3>
                    <p>
                        You are lazy? Are you backing home?
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="box_home" id="three">
                    <span>3</span>
                    <h3>Pay by card or cash</h3>
                    <p>
                        It's quick, easy and totally secure.
                    </p>
                </div>
            </div>
        </div> End row -->
	</ion-content>
</ion-view>

