<ion-view view-title="Product">
  <ion-nav-buttons side="secondary">
    <div class="buttons">
      <a class="button button-icon icon ion-android-cart" href="#/app/cart"></a>
    </div>
  </ion-nav-buttons>
    <ion-content>
      <div class="list list-inset">
        <h3>{{ restaurant.menu[dish-1].name }}</h3>
        <p>
          {{ restaurant.menu[dish-1].description }}
        </p>
        <h4>Options and Extras</h4>
        <p>
          Select the options you wnat to be included in this item.
        </p>
        <li class="item item-divider">
          Options
        </li>
        <li class="item item-toggle">
           Celery
           <label class="toggle toggle-balanced">
             <input type="checkbox" checked>
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        <li class="item item-toggle">
           Corn
           <label class="toggle toggle-balanced">
             <input type="checkbox" checked>
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        <li class="item item-toggle">
           Butter
           <label class="toggle toggle-balanced">
             <input type="checkbox" checked>
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        <li class="item item-toggle">
           Rice
           <label class="toggle toggle-balanced">
             <input type="checkbox" checked>
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        <li class="item item-divider">
          Extras
        </li>
        <li class="item item-toggle">
           Pindasaus: $ 2.00
           <label class="toggle toggle-balanced">
             <input type="checkbox" checked>
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        <li class="item item-toggle">
           Peper en zuur: $ 3.00
           <label class="toggle toggle-balanced">
             <input type="checkbox">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
      </div>

      <div class="list list-inset">
        <h4>Size and Prices</h4>
        <p>
          Select an option and add it in your cart.
        </p>
        <ion-radio ng-repeat="item in porties" ng-value="item.value" ng-model="data.porties">
          {{ item.text }}: {{ item.prijs }}
        </ion-radio>
      </div>

      <div class="row">
        <div class="col-50">
          <button class="button button-block icon-left ion-star">Add to favorites</button>
        </div>
        <div class="col-50">
          <button ng-click="addCart(restaurant.id, restaurant.menu[dish-1].id)" class="button button-block icon-left ion-android-cart button-assertive">Add to cart</button>
        </div>
      </div>
    </ion-content>
</ion-view>

