<ion-view view-title="Menu">
  <ion-nav-buttons side="secondary">
    <div class="buttons">
      <a class="button button-icon icon ion-android-cart" href="#/app/cart"></a>
    </div>
  </ion-nav-buttons>
    <div class="tabs-striped tabs-top tabs-background-assertive tabs-color-light">
      <ul class="tabs">
        <li ng-class="{active:isSelected(0)}" class="tab-item">
          <a ng-click="select(0)" class="light">Categories</a>
        </li>
        <li ng-class="{active:isSelected(1)}" class="tab-item">
          <a ng-click="select(1)" class="light">Need Help?</a>
        </li>
      </ul>
    </div>
    <ion-content class="has_tabs">
      <ion-list ng-show="isSelected(0)">
          <!--
          <div class="list list-inset" ng-repeat="category in restaurant.menuCategory">
              <ion-item class="item-stable capitalize2" ng-click="toggleCategory(category)" ng-class="{active: isCategoryShown(category)}">
                  <i class="icon assertive" ng-class="isCategoryShown(category) ? 'ion-minus' : 'ion-plus'"></i>
                &nbsp;
                {{ category.category }}
              </ion-item>
              <ion-item class="item-accordion item-text-wrap" ng-show="isCategoryShown(category)" ng-repeat="menu in restaurant.menu | filter: {category: category.category }">
                  <h2>
                    {{ $index + 1 }}. {{ menu.name }}
                    <span style="font-size:75%" class="badge badge-assertive">{{ menu.price | currency }}</span>
                  </h2>
                  <div class="type">
                      {{ menu.description }}
                  </div>
                  <ion-option-button class="button-assertive icon ion-plus-circled" ng-click="addCart({{restaurant.id}}, {{restaurant.menu.indexOf(menu)}})">
                  </ion-option-button>
              </ion-item>
          </div>
          -->

          <!--
          <div class="card" ng-repeat="category in restaurant.menuCategory">
            <a class="item item-thumbnail-left item-text-wrap" href="#/app/category/{{restaurant.id}}/{{$index}}">
              <img src="img/category/{{category.category}}.jpg">
              <h3 class="capitalize2">{{ category.category }}</h3>
              <p>This is a basic Card which contains an item that has wrapping text.</p>
            </a>
          </div>
          -->
          <div ng-repeat="category in categories">
            <div class="card" ng-repeat="cat in restaurant.menuCategory | filter: {id: category.id}">
              <a class="item item-thumbnail-left item-text-wrap" href="#/app/category/{{restaurant.id}}/{{category.id}}">
                <img src="img/category/{{category.category}}.jpg">
                <h3 class="capitalize2">{{ category.category }}</h3>
                <p>This is a basic Card which contains an item that has wrapping text.</p>
              </a>
            </div>
          </div>
      </ion-list>

      <div class="card" ng-show="isSelected(1)">
        <div class="item item-divider">
          Location Information
        </div>
        <div class="item item-text-wrap">
          <h2>Our Address</h2>
          <p>
            121, Clear Water Bay Road <br/>
            Clear Water Bay, Kowloon <br/>
            HONG KONG <br/>
            <i class="icon ion-android-call"></i>: +852 1234 5678 <br/>
            <i class="icon ion-android-print"></i>: +852 8765 4321 <br/>
            <i class="icon ion-android-mail"></i>: confusion@food.net <br/>
          </p>
        </div>
        <div class="button-bar">
          <a class="button button-positive"><i class="icon ion-android-call"></i> Call</a>
          <a class="button button-calm"><i class="icon ion-social-skype"></i> Skype</a>
          <a class="button button-balanced"><i class="icon ion-android-mail"></i> Email</a>
        </div>
      </div>
    </ion-content>
</ion-view>

