<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-assertive">
      <h1 class="title">Navigation</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/howitworks" class="item item-icon-left">
          <i class="icon ion-ios-help"></i>
          How it works
        </ion-item>
        <ion-item menu-close href="#/app/restaurants" class="item item-icon-left">
          <i class="icon ion-android-restaurant"></i>
          Restaurants
        </ion-item>
        <ion-item menu-close href="#/app/featured" class="item item-icon-left">
          <i class="icon ion-android-alert"></i>
          Featured
        </ion-item>
        <ion-item menu-close href="#/app/favorites" class="item item-icon-left">
          <i class="icon ion-android-star"></i>
          Favorites
        </ion-item>
        <ion-item menu-close href="#/app/cart" class="item item-icon-left">
          <i class="icon ion-android-cart"></i>
          Cart
        </ion-item>
        <ion-item class="item-divider">
          Services
        </ion-item>
        <ion-item menu-close ng-click="login()" class="item item-icon-left">
          <i class="icon ion-person"></i>
          Login
        </ion-item>
        <ion-item menu-close href="#/app/faq" class="item item-icon-left">
          <i class="icon ion-clipboard"></i>
          FAQ
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
