.capitalize {
  display: inline-block;  
}

.capitalize::first-letter {
  text-transform: uppercase;
}

.capitalize2 {
  text-transform: capitalize;
}

.has_tabs {
	top: 88px;
}

/* How It Works styles */
.box_home{
	background:#F5F5F5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #ededed;
	margin-bottom:25px;
	padding:120px 0px 25px 0px;
	text-align:center;
	position:relative;
	font-size:14px;
	color:#666;
	min-height:175px;
	width: 85%;
}
.box_home span{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid #ededed;
	background-color:#fff;
	position:absolute;
	top:-20px;
	display:block;
	width:40px;
	height:40px;
	line-height:38px;
	font-weight:bold;
	font-size:16px;
	left:50%;
	margin-left:-20px;
}
.box_home#one{
	background:#F5F5F5 url(../img/icons/icon_home_1.svg) no-repeat center 30px;
	background-size: 100px 100px;
}
.box_home#two{
	background:#F5F5F5 url(../img/icons/icon_home_2.svg) no-repeat center 30px;
	background-size: 100px 100px;
}
.box_home#three{
	background:#F5F5F5 url(../img/icons/icon_home_3.svg) no-repeat center 30px;
	background-size: 100px 100px;
}
.box_home#four{
	background:#F5F5F5 url(../img/icons/icon_home_4.svg) no-repeat center 30px;
	background-size: 100px 100px;
}
.box_home h3{
	font-size:16px;
	margin-bottom:3px;
	font-weight:bold;
}

.row {
	/*margin: 7.5%;*/
}

/* Restaurant List Page styles */
.strip_list{
	background-color:#fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:20px;
	position:relative;
	border: 1px solid #ededed;
	min-height:152px;
	margin-bottom:30px;
	line-height:1.3;
	display:block;
}
.strip_list.last{
	margin-bottom:25px;
}
a.strip_list:hover h3{
	color:#ec008c;
}
.desc{
	padding-left:135px;
	position:relative;
}
.desc .rating{
	color:#ccc;
	padding-top:0;
}
.desc h3{
	margin:0;
	padding:0;
	font-weight: normal;
}
.desc h3 a{
	color:#333;
}
.desc h3 a:hover{
	color:#EC008C;
}
.desc .type{
	font-size:12px;
	font-style:italic;
	color:#777;
	margin-bottom:12px;
	margin-top:5px;
}
.desc .opening{
	color:#C33;
}
.desc ul{
	list-style:none;
	margin:3px 0 0 0;
	padding:0;
}
.desc ul li{
	display:inline-block;
	margin-right:15px;
}
.desc ul li i.ok{
	color:#6C3;
	position:relative;
	top:2px;
	left:5px;
	font-size:14px;
}
.desc ul li i.no{
	color: #C30;
	position:relative;
	top:2px;
	left:5px;
	font-size:14px;
}
.thumb_strip{
	position:absolute;
	left:0;
	top:0;
	width:110px;
	height:110px;
	overflow:hidden;
	border:1px solid #ededed;
	padding:5px;
	text-align:center;
	box-sizing: border-box;
}
.thumb_strip img{
	width:98px;
	height:auto;
}
.strip_list .go_to{
	display:table;
	height:112px;
	text-align:right;
	width:100%;
}
.strip_list .go_to div{
	display: table-cell;
	vertical-align:middle;
}

.ribbon_1{
	position:absolute;
	text-indent:-9999px;
	top:-5px;
	left:-5px;
	background:url(../img/ribbon_featured.png) no-repeat 0 0;
	width:81px;
	height:80px;
	z-index:3;
}

.rating{
	color:#fff;
	padding-top:10px;
}
.rating .voted{
	color: #FC0;
	margin-right:3px;
}

/** FAQ styles **/
.list .item.item-accordion {
  line-height: 25px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

/* 2.3 Restaurant menu*/
.box_style_1{
	background:#fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	 border: 1px solid #ededed;
	 margin-bottom:30px;
}
.box_style_2, #cart_box{
	background:#fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	 border: 1px solid #ededed;
	 margin-bottom:25px;
	 padding:25px;
}
.box_style_2#main_menu, .box_style_2.info{
	padding-bottom:10px;
}
.box_style_2#help{
	text-align:center;
}
.box_style_2#help i{
	font-size:52px;
	display:inline-block;
	color:#999;
}
.box_style_2#help a.phone{
	font-size:26px;
	display:block;
	margin-bottom:0;
	color:#85c99d;
}
#cart_box{
	background:#fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	 border: 1px solid #ededed;
	 margin-bottom:25px;
	 padding:15px;
}
#cart_box h3{
	background:#f8f8f8;
	margin:-15px -15px 15px -15px;
	padding:15px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	font-size:18px;
}
a.remove_item{
	color:#ddd;
	font-size:14px;
}
a.remove_item:hover{
	color: #C33;
}
#cart_box hr {
	margin-left:-15px;
	margin-right:-15px;
	border-color:#ededed;
}
#main_menu hr {
	margin-left:-25px;
	margin-right:-25px;
	margin-top:10px;
	border-color:#ededed;
}
#order_process hr {
	margin-left:-25px;
	margin-right:-25px;
	margin-top:10px;
	border-color:#ededed;
}
#main_menu h3 {
	text-transform:uppercase;
	font-size:20px;
}
ul#cat_nav{
	list-style:none;
	margin: 0;
	padding:0;
}
ul#cat_nav li{
	 border-bottom: 1px solid #ededed;
}
ul#cat_nav li a{
	position:relative;
	color:#555;
}
ul#cat_nav li a span{
	font-size:11px;
	color:#999;
}
ul#cat_nav li a:after{
	font-family: "fontello";
	content: "\e89b";
	position:absolute;
	right:15px;
	top:15px;
}
ul#cat_nav li:last-child{
	 border-bottom: 0;
	 padding-bottom:0;
}
ul#cat_nav li:first-child a:hover, ul#cat_nav li:first-child a.active{
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
ul#cat_nav li:last-child a:hover, ul#cat_nav li:last-child a.active{
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
ul#cat_nav li a{
	display:block;
	padding:15px 10px;
}
ul#cat_nav li a:hover, ul#cat_nav li a.active{
	background:#f9f9f9;
	color:#111;
}
#sub_content{
	 display: table-cell;
  	padding:0 15%;
    vertical-align: middle;
	text-align:center;
	font-size:16px;
}
#sub_content #thumb{
	width:130px;
	height:130px;
	overflow:hidden;
	text-align:center;
	padding-top:5px;
	box-sizing: border-box;
	margin:auto;
	margin-bottom:15px;
	background-color:#fff;
}
#sub_content #thumb img{
	width:120px;
	height:auto;
}
#sub_content h1{
	margin:0 0 10px 0;
	font-size:60px;
	font-weight:300;
	color:#fff;
}
.rating{
	color:#fff;
	padding-top:10px;
}
.rating .voted{
	color: #FC0;
	margin-right:3px;
}
ul.additional_links{
	list-style:none;
	margin:0;
	padding:0;
}
ul.additional_links li{
	display:inline-block;
	border-left: 1px solid #ededed;
	margin-left:3px;
	padding-left:5px;
}
ul.additional_links li:first-child{
	border-left: none;
	padding-left:0;
	margin-left:0;
}
.table.cart-list td h5{
	margin-bottom:0;
	font-weight:600;
}
.table.cart-list{
	margin-bottom:0;
}
.table.cart-list td{
	vertical-align:middle;
}

.table.table_summary td {
	border-top:0
}
.table.table_summary td.total{
	font-weight:bold;
	font-size:18px;
}
.table td.total_confirm{
	font-weight:bold;
	font-size:18px;
	background-color:#333;
	color:#fff;
}
.options i{
	font-size:26px;
}
.row#options_2{
	margin-bottom:-10px;
	margin-top:-5px;
}
#options_2 label{
	font-size:12px;
}
.thumb_cart{
  border: 1px solid #ddd;
  overflow:hidden;
   width:60px;
   height:60px;
   margin-right:10px;
   float:left;
}
.thumb_cart img{
  padding:1px;
  width:58px;
  height:auto;
}
.item_cart{
	display: inline-block;
	margin-top:20px;
}